html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    outline: none;
}


.colorBox {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.colorBox .box {
    height: 100vh;
    width: 100vw;
    transition: all 400ms ease-out;
    margin: 0.5px;
}

#canvas,
.camera-video {
    display: none;
}

.overlay {
    position: absolute;
    top: 94%;
    left: 96%;
    transform: translate(-95%, -95%);
    display: flex;
    flex-direction: column;
}

video {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 8px 8px 0px 0px;
}

.options {
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    border-radius: 0px 0px 8px 8px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#boxCount {
    border: none;
    height: 35px;
    width: 50px;
    text-indent: 11px;
}